.serviceContainer {
  background-color: #474040;
  border-radius: 12px;
  max-width: 1400px;
  height: 750px;
  align-self: flex-start;
  margin: 0 auto;
  margin-top: 40px;
}

.serviceTitle {
  font-size: 24px;
  font-weight: bolder;
  text-align: left;
  color: #ffffff;
  background: rgb(230, 149, 0);
  border-radius: 12px;
  max-width: 100%; /* ✅ 你可以依需要調整寬度，例如 500px、80% 等 */
  padding: 12px 20px; /* 建議加點內距讓圓角更漂亮 */
  margin-top: 2px;
}


.function {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-top: 150px;
}
